// Gray Scale
$gray90: #181a25;
$gray80: #2f3140; // Font : Title, Subtitle
$gray70: #444459; // Font : Default *
$gray60: #777790; // Font : Input
$gray50: #9293ae; // Font : Disabled, Placeholder
$gray30: #afb3cf;
$gray20: #c1c5de; // Border : Button, Input, Table Header
$gray10: #eaeaf5; // Border : Default * Table Header
$gray5: #f3f3f9;
$gray3: #f5f5f8;

// Primary Scale
$primary90: #242d60;
$primary80: #434fa1;
$primary70: #6270cd; // Main Color
$primary60: #7c8bf0;
$primary20: #d2d7fd;
$primary10: #eaedff;

// Secondary Scale
$secondary80: #236bae;
$secondary70: #458dd0; // Sub Main Color

// Semantic
$red80: #932b3e;
$red50: #dc405d;
$red10: #ffeff2;

$orange80: #88310c; // Error
$orange50: #eb6b34; // Select Point

$yellow80: #6d4608; // Warning

$green90: #043e30;
$green80: #086b53;
$green50: #00a57d;
$green10: #ecfffb;

// Background(box)
$white: #ffffff;

// shodow
$box-shodow: 0px 4px 25px rgba(31, 31, 43, 0.1);
